{% extends 'base.html' %}
{% load static %}

{% block left_nav %}
  {% for cat in categories %}
    <li {{ highlight }}><a href="{% url 'opinion:list_all' %}?filter={{ cat.id }}">{{ cat.name_text }}</a></li>
  {% endfor %}
{% endblock %}

{% block center %}
  <div class="panel-group" id="accordion">
    {% for item in category_selected.items.all %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">{{ item.name_text }}</a>
            <a href="{%  url 'opinion:add_opinion' item_id=item.id %}" title="Add new opinion">
                          <img src="{% static 'images/add-16.png' %}"></a>
          </h4>
        </div>
        <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
          <div class="panel-body">
            <ul>
              {% for opinion in item.opinions.all %}
                <li>
                  <a href="{% url 'opinion:show_opinion' opinion.id %}">{{ opinion.title_text }}</a>
                  <p>Published: {{ opinion.publish_date }}</p>
                </li>
              {%  endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}